.app-container {
    width: 100%;
    position: relative;
}

.app-container .form-control {
    float: left;
    margin-right: 5px;
    width: 130px;
    padding-left: 5px;
}

.graph-container {
    width: 85vw;
    height: 70vh;
    background-color: white;
}

.app-menu {
    width: 85vw;
    height: 15vh;
    background-color: #585858;
    padding: 1vh 1vw;
}

.config-section {
    clear: both;
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #dfdfdf;
}

.config-block {
    float: left;
    width: 50%;
    margin-bottom: 10px;
    position: relative;
}

.config-name {
    font-weight: bold;
}

select.btn {
    text-align: left;
    padding-left: 5px;
    padding-right: 0;
}

.config-block input[type="file"].form-control {
    width: 280px !important;
    display: block;
    position: absolute;
    left: 145px;
}
