body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar {
    -webkit-box-shadow: 0 0 10px 1px #777;
    -ms-box-shadow: 0 0 10px 1px #777;
    box-shadow: 0 0 10px 1px #777;
}

.navbar h4 {
    color: #efefef;
    height: 30px;
    line-height: 30px;
}

.body-content {
    width: 1200px;
    margin: 0 auto;
    padding: 25px;
    margin-top: 50px;
    border-radius: 3px;
    -webkit-box-shadow: 0 0 10px 1px #cccccc;
    -ms-box-shadow: 0 0 10px 1px #cccccc;
    box-shadow: 0 0 10px 1px #cccccc;
}

#i_iterations, #i_submit {
    float: left;
    margin-right: 20px;
}